body {
    background-color: #6d6d6c;
    font-family: sans-serif, Verdana, Georgia;
    margin: 0;
    padding: 0;
   }

nav {
    background: transparent;
    border: 0px solid white;
    border-radius: 5px;
    height: 50px;
    width: 300px;
    float: right;
    margin-left: 5px;
    margin-top: -80px;
    
}

#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #0ce2d3;
    left: 0px;
    transition: all 500ms linear;
    border-radius: 5px;
}


#sidebar.active {
    left: 0px;
}

#sidebar ul li {
    color: white;
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.5);
    font-family: sans-serif;
    font-weight: bold;
}

#sidebar ul li:hover {
    color: white;
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid white;
    font-family: sans-serif;
    font-weight: bold;
    background:#6d6d6c; 
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    background: #6d6d6c;;
    color: white;
    font-weight: 300;
}
.dasheader {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    background: #6d6d6c;;
    color: white;
    font-weight: bolder;
}

body.search-box {
    margin: 0;
    padding: 0;
    background: transparent;
}

.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}